/* =============================

    GENERAL STYLES

=============================*/

* {
  box-sizing: border-box;
}

/* Single-direction margin declaration to establish vertical rhythm. */
h1,h2,h3,
ul,ol,
p,
img {
    margin-bottom: 1.5rem;
}



body {
	background: url("../assets/11.png");
	font-family: 'Poppins', sans-serif;;
  	font-size: 1.135rem;
  	line-height: 1.5;
  	
}


h1,
h2, h4 {
  	font-family: 'Poppins', sans-serif;
}

h2 {
  	font-size: 3rem;
	color: #fff
}

h3 {
  	font-size: 1.5rem;
	color:cornsilk;
	letter-spacing: 2px;
	text-align: left;
	margin: 10px;
}

h4{
	color: #fff;
}


.fa-chevron-left, a {
  text-decoration: none;
  color: rgba(243,119,3,1.00);
}

a:hover {
  color: rgba(255,255,255,1.00);
  transition: .20s ease-in-out;
}

.fa-facebook:hover {
	color: rgba(2,51,240,1.00);
}

.fa-youtube:hover {
	color: rgba(241,4,8,1.00);
}

.fa-tiktok:hover {
	color: cyan;
}
.banner {
	background-image: url("../assets/kezdokep3.jpg");
	height: 400px;
	background-size: cover;
	background-position: center;
  	display: table;
  	text-align: center;
    width: 100vw;
}

.main-banner {
    display: table-cell;
  	vertical-align: middle;
    
}

.main-banner-text {
  margin: 0 auto;
  padding: .620rem;
  color: hsla(0,0%,100%,.9);
  background: hsla(100,0%,0%,.5);
}

.main-banner-text h1 {
  font-size: 2.50rem;
  color: #d2ba87;
  margin-bottom: 0; 
}

.tagline {
  font-size: 1rem;
  letter-spacing: .35rem;
}

.tagline::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 12.515625rem;
  margin: .5rem auto;
}



/* Media Query: Banner */

@media screen and (min-width: 768px) {

  .banner {
    background-color:rgba(96,96,96,1.00);
	  height: 100vh;
  }
.img-center {
}


}

@media screen and (min-width: 768px) {

  .main-banner-text {
    padding: 1.25rem;
    border-radius: 4px;
    width: 100%;
  }

  .main-banner-text h1 {
    font-size: 7rem;
  }

}

@media screen and (min-width: 768px) {

  .tagline {
    text-transform: uppercase;
  }

}

/* =============================

      LOCATIONS STYLES

=============================*/

.circle {
	font-family: 'Poppins', sans-serif; 
	text-align: left;
	padding: 0.25rem;
	margin: 0.20rem;
}

 i .fa, .fa-circle {
	color: rgba(236,119,3,1.00);
	padding: 0.257rem;
}

.link {
	color: rgba(236,119,3,1.00);
	text-decoration: none;
}



h2 {
	padding: 1rem;
}

.btn-link {
	display: inline-block;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 0.875rem;
	border: 1px solid rgba(243,119,3,1.00);
	border-radius: 5px;
	padding: 12px 18px;
	margin: -10px 0 20px;
}

.nav-links {
	text-align: center;
	font-size: 16px;
}

img {
  	height: 7.5rem;
	
}

.img-center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

article {
	margin: 1rem;
	
}

.text-list, ul, li {
	list-style: circle;
}

h2 {
	text-align: center;
	margin: 10px
}

h2, h3, h4 {
  	font-weight: 900;
}

p {
  	font-family: 'Source Sans Pro', sans-serif sans-serif;
	font-weight: 400;
	color: rgba(240,248,255,1.00);
}

.button {
	background-image: url("../assets/11.png");
  	border: none;
	border-radius: 10px;
  	color: black;
  	padding: 16px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 30px;
  	margin: 4px 2px;
  	transition-duration: 0.4s;
  	cursor: pointer;
}

.button2 {
  	color: whitesmoke;
  	border: 1px solid #555555;
}

.button2:hover {
  color:rgba(232,232,232,0.37);
}


/* Media Query: Location Style */

@media screen and (min-width: 768px) {

  
	.locations article {
		width: min(80%, 1000px);
		margin-inline: auto;
		position: relative;
		
	}
	
	
	
	.fa-list {
		background:rgba(255,255,255,0.40);
		border-radius: 10px;
		grid-column: span 1;
		text-align: left;
		padding: 10px;
		
	}
	
	.fa-list:last-child {
		grid-column: 2;
		grid-row-start: 1;
	}
	
	
}

.locations {
	color:rgba(240,248,255,1.00);
	content: "";
	width: 100%;
	
}

.contact {
	color:rgba(240,248,255,1.00);
	content: "";
	width: 100%;
	text-align: center;
	padding: 3rem;
	
}

/* =============================

        FOOTER STYLES

=============================*/

.fa-list, ul, li {
	display: block;
	text-decoration: none;
}

ul{
  	color: aliceblue;
}

li {
	font-size: 1.5em;

}

ul li {
	margin-bottom: 2px;
}

footer {
	content: "";
  	height: 10vh;
  	width: 100vw;
	background: hsla(100,0%,0%,.4);
  	color: #fff;
  	font-family: 'Overpass', sans-serif;
  	display: table;
  	text-align: center;
  	font-size: .875rem;
}

.footer-wrapper {
  display: table-cell;
  vertical-align: right;
  padding: .5rem 3rem;

}

footer p {
  margin: 40px;
}

footer small {
  line-height: 1.5;
}

/* Media Querry: Footer */

@media screen and (min-width: 768px) {

  footer {
    min-height: 7vh;
  }

}
.btn-link {
}
